*~
*.a
*.o
*.la
*.lo
*.log
*.m4
*.path
*.service
*.so
*.socket
*.swp
*.swo
*.trs
.autotools
.cproject
.deps
.dirstamp
.libs/
.project
.settings
.ycm_extra_conf.py
.ycm_extra_conf.pyc
aclocal.m4
ar-lib
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
missing
tags
src/tangd
src/tang
test-driver
