---
name: build

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-22.04
    continue-on-error: ${{ ! matrix.stable }}
    strategy:
      matrix:
        os:
          - fedora:latest
          - centos:7
          - quay.io/centos/centos:stream8
          - quay.io/centos/centos:stream9
          - debian:testing
          - debian:latest
          - ubuntu:rolling
          - ubuntu:lunar
          - ubuntu:jammy
          - ubuntu:focal
          - ubuntu:bionic
        stable: [true]
        include:
          - os: quay.io/fedora/fedora:rawhide
            stable: false
          - os: ubuntu:devel
            stable: false
    steps:
      - uses: actions/checkout@v3

      - name: Show OS information
        run: cat /etc/os-release 2>/dev/null || \
          echo /etc/os-release not available

      - name: Install build dependencies
        run: bash .github/workflows/install-dependencies

      - name: Build tang
        run: |
          mkdir -p build && cd build
          export ninja=$(command -v ninja)
          [ -z "${ninja}" ] && export ninja=$(command -v ninja-build)
          meson .. || cat meson-logs/meson-log.txt >&2
          ${ninja}

      - name: Run tests
        run: |
          cd build
          if ! meson test ; then
              cat meson-logs/testlog.txt >&2
              exit -1
          fi

      - name: Show full test logs
        run: |
          if [ -r build/meson-logs/testlog.txt ]; then
            cat build/meson-logs/testlog.txt >&2
          else
            echo "No test log available" >&2
          fi

    container:
      image: ${{matrix.os}}
      env:
        DISTRO: ${{matrix.os}}

# vim:set ts=2 sw=2 et:
